NYT/origin_data/vec.txt filter=lfs diff=lfs merge=lfs -text
NYT/origin_data/train.txt filter=lfs diff=lfs merge=lfs -text
SemEval/data/* filter=lfs diff=lfs merge=lfs -text
NYT/origin_data/* filter=lfs diff=lfs merge=lfs -text
